requests      # For web scraping and data requests
matplotlib     # For data visualization
nbformat       # For handling Jupyter Notebook files
pandas        # For visual graphs

#if you get an error installing pandas, remove it from this file and simply import it at the top of your project as `import pandas as pd`